<?xml version="1.0"?>
<!-- File: app/code/Atwix/OrderFeedback/etc/di.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="vexpro_marketplace_check_points"
                type="Vexpro\Marketplace\Plugin\OrderRepositoryPlugin" />
    </type>
</config>